# Flask
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF

# Database Drivers
pyodbc

# HTTP Requests (for Agent)
requests

# Utilities
python-dotenv  # Used by Flask CLI to load .flaskenv files